<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alarmDrinkWaterMsg</key>
	<array>
		<string>亲，该喝水了哦~</string>
		<string>亲，该喝水了哦~</string>
	</array>
	<key>alarmAddFoodMsg</key>
	<array>
		<string>亲，改添加食物了哦~</string>
		<string>亲，改添加食物了哦~</string>
	</array>
	<key>alarmSleepMsg</key>
	<array>
		<string>亲，该睡觉了哦~</string>
		<string>亲，该睡觉了哦~</string>
	</array>
	<key>alarmWeightMsg</key>
	<array>
		<string>亲，该称体重咯！快去看看有没有变瘦！坚持！你会越来越爱流汗不流泪的自己！</string>
		<string>亲，该称体重咯！快去看看有没有变瘦！如果你觉得自己还有救，还能动起来，那就拯救自己吧！加油！</string>
		<string>亲，该称体重咯！喊一百句减肥，不如做一次运动！记录你的体重，然后，从现在开始运动！</string>
		<string>亲，该称体重咯！快去看看有没有变瘦！没勇气看体重计上的数字，你就一辈子都瘦不了！</string>
		<string>亲，该称体重咯！快去看看有没有变瘦！如果不想输，那就别偷懒，努力一点，为了未来更好的自己。</string>
		<string>亲，该称体重咯！快去看看有没有变瘦！减肥是一个天天都存在的大问号！它会问你： 『今天要当胆小鬼，还是要坚强 ?』</string>
		<string>亲，该称体重咯！快去看看有没有变瘦！坚持多一些，就离梦想近一些！</string>
		<string>亲，该称体重咯！快去看看有没有变瘦！必须减肥！再不克制就只有一辈子羡慕别人了！</string>
		<string>亲，别再懒惰了。该动动了！想听到世界上最动听的三个字么？“你瘦了！”</string>
		<string>亲，该称体重咯！快去看看有没有变瘦！减肥！没有失败，只有放弃！</string>
	</array>
	<key>alarmHabitMsg</key>
	<array>
		<string>好习惯提醒~ 离油腻的食物远远的吧，这是健康的第一步</string>
		<string>好习惯提醒~ 知道你爱吃零食，改吃水果吧，低卡又健康！</string>
		<string>好习惯提醒~ 你要知道1斤白酒=3两肥肉的话，你还会继续吗？</string>
		<string>好习惯提醒~ 1瓶红酒=1两肥肉，没想到喝红酒也会长胖吧？</string>
		<string>好习惯提醒~ 3瓶啤酒=1两肥肉，要不怎么说啤酒肚啤酒肚呢？</string>
		<string>好习惯提醒~ 2瓶饮料=1两肥肉，少喝点饮料吧~</string>
		<string>好习惯提醒~ 肥肉热量极高！吃进去相当于直接长在了身上；</string>
		<string>好习惯提醒~ 坚果和肥肉一样可怕</string>
		<string>好习惯提醒~ 停止吃宵夜吧！10次宵夜长1公斤肥肉啊~</string>
		<string>好习惯提醒~ 只有按时吃饭才不会暴饮暴食</string>
		<string>好习惯提醒 我做到了细嚼慢咽，这样就不会不知不觉吃多了！</string>
	</array>
	<key>alarmExerciseMsg</key>
	<array>
		<string>亲，今天你需要运动消耗%i千卡！快去运动吧！无人能阻拦你成为更好的自己。</string>
		<string>要想人前显瘦，必定人后掉肉。加油吧！告别胖墩儿时代~ 今天你需要运动消耗%i千卡！</string>
		<string>小习惯坚持就能有大改变。动起来，消耗你的多余脂肪！今天，你需要运动消耗%i千卡！</string>
		<string>凡事无捷径，比昨天的自己多超越一点，就离目标更近。挑战自己，从无止境。今天你需要运动消耗%i千卡！</string>
		<string>距离成功，你只缺少“坚持”。今天，你需要运动消耗%i千卡！</string>
		<string>不要用别人的标准，给自己压力。你的身材，由你决定。运动，流汗，然后改变。</string>
		<string>今天不是世界末日。但对我身上的赘肉来说，每一天都是世界末日。努力运动吧！铲掉赘肉！</string>
		<string>亲，别再懒惰了。该动动了！想听到世界上最动听的三个字么？“你瘦了！”</string>
		<string>别以为非得到健身房才叫运动。拖拖地，爬爬楼梯，收拾屋子也可以让你不知不觉瘦身。</string>
		<string>每一次多跑的100米，每一件被汗水湿透的衣服，都是最好的肯定。</string>
		<string>没有谁的身体是天生的，都是汗水和坚持换来的。</string>
	</array>
	<key>alarmRecordMsg</key>
	<array>
		<string>该记录饮食和运动了！用数据说话，看看自己有多坚持！一个人连自己的体重都控制不了，何以掌控自己的人生!</string>
		<string>该记录饮食和运动了！减肥没有捷径，只有坚持！</string>
		<string>该记录饮食和运动了！没人能帮你，只能靠自己。</string>
		<string>该记录饮食和运动了！为什麼别人能你就不可以？</string>
		<string>该记录饮食和运动了！胖子也会有瘦下来变漂亮的一天。</string>
		<string>该记录饮食和运动了！那些想减肥又没有意志力的人，没有救！</string>
		<string>该记录饮食和运动了！要自己加油，要证明给自己和一些不相信你的人看。</string>
		<string>该记录饮食和运动了！不管年纪，漂亮是必须的。不管年纪，健康是必须的。</string>
		<string>该记录饮食和运动了！其实在你想放弃的那个瞬间，告诉自己再坚持一下再坚持一下，也就过去了。</string>
	</array>
	<key>alarmMsg</key>
	<array>
		<string>秤一下自己的体重，把自己的体重记录下来哦！</string>
		<string>改变那些让你变胖的习惯，如果做到了，就记下来，鼓励自己！</string>
		<string>今天需要进行一次有氧运动哦！</string>
		<string>饭后走上半小时，每月轻松瘦1斤</string>
		<string>吃完饭后，溜达溜达，走着走着就收获了健康和好身材哦！</string>
		<string>早餐能帮助我们将新陈代谢恢复到旺盛状态，对于减肥来说极其重要，所以早餐是必须吃的哦！</string>
		<string>该吃午饭了！作为你的私人减肥顾问，我觉得我有必要提醒你哦！</string>
		<string>晚饭时间到了，晚餐可以吃的清淡些，记住哦，八分饱就成！</string>
		<string>该记录饮食和运动了！</string>
		<string>该睡觉了！</string>
		<string>该饮水了！</string>
		<string>该加餐了！</string>
	</array>
	<key>alarmTitle</key>
	<array>
		<string>体重测量提醒</string>
		<string>习惯改善提醒</string>
		<string>运动提醒</string>
		<string>饭后散步提醒(中午)</string>
		<string>饭后散步提醒(晚上)</string>
		<string>早餐提醒</string>
		<string>午餐提醒</string>
		<string>晚餐提醒</string>
		<string>记录提醒</string>
		<string>睡眠提醒</string>
		<string>饮水提醒</string>
		<string>加餐提醒</string>
	</array>
	<key>alarmBreakfastMsg</key>
	<array>
		<string>营养的早餐可以让你更快的恢复代谢水平，也能帮助你一天精神焕发。健康谷薯是优质早餐不可或缺的内容哟！</string>
		<string>美国流行病学杂志上的一项研究发现，错过一顿早餐，发胖的可能会增加4.5倍。So，早餐一定要吃哦！</string>
		<string>早餐是最重要的一餐，最好要搭配有蔬菜或者水果，中式早餐一星期不宜食用超过一次。</string>
		<string>早餐要吃足！别让你的身体进入挨饿模式，会储存更多脂肪！</string>
		<string>在起床后20至30分钟再吃早餐最合适，这时人的食欲最旺盛。另外，早餐与中餐最好间隔4至5小时。</string>
		<string>吃早餐前应先饮一杯温开水，既可纠正生理性缺水，对器官也有洗涤作用，有助于改善器官功能。</string>
		<string>想大吃大喝没压力，请以早餐为优先选择，早餐吃得好，不但能让你整天神采奕奕，还会越吃越瘦。</string>
		<string>新的一天最好从一顿拥有300～400卡路里的早餐开始，它能立刻把你的新陈代谢带入“工作状态”。</string>
		<string>吃早餐的人比不吃早餐的人更容易减重。因为在睡觉的时候，身体新陈代谢会减慢，只有在你再次进食的时候，它才会回升。</string>
		<string>早餐可以帮助你促进新陈代谢，这样一天下来你就能燃烧更多的热量。所以赶紧抓住这个机会好好享受美食吧。</string>
		<string></string>
	</array>
	<key>alarmLunchMsg</key>
	<array>
		<string>午餐吃面尽量选择清淡汤底的面食而且要少喝汤哟！因为一人份的汤中加入的油脂热量高达113千卡。</string>
		<string>千辛万苦爬到食物链顶端，当然要好好享用美食了！切忌盲目节食哟！午餐时细细品味，细嚼慢咽，先喝汤后吃饭就能很好的瘦身。</string>
		<string>鲜肉馄饨由于含有较多的肉，单位热量较高，建议一餐的量不超过12个。若吃不饱的话，可以搭配一碟清新蔬菜，效果也不错！</string>
		<string>推荐两道凉拌菜：萝卜丝和木耳笋片。萝卜能促进新陈代谢，避免脂肪堆积。黑木耳能促进肠胃蠕动，防止便秘哟！</string>
		<string>午餐选择鸡胸肉，因为它是鸡肉中蛋白质含量较多的，脂肪含量和虾、螃蟹等昂贵海鲜一样低。100克的鸡胸肉只有130大卡。</string>
		<string>午餐时，先蔬菜、后谷物薯类、最后肉类的进食顺序，可以更好的保持身材哟！</string>
		<string>【午餐吃好对零食说不】上班族吃一顿营养丰富的美味午餐，饱腹感持续的时间会更长，也就不会再想吃零食。</string>
		<string>【午餐常吃五种食物】西兰花—抗衰老，鱼肉—预防心血管疾病，洋葱—降脂，豆腐—抗氧化，圆白菜—保持活力。</string>
		<string>午餐吃什么？香菇和芹菜都是低热量的高纤维食物，是减肥的好选择。他们所含的粗纤维还可预防、缓解便秘。</string>
		<string>午餐食物种类应该更丰富些，谷物、薯类、蔬菜、肉蛋都应该有。单一食物种类，会导致营养失衡，更容易摄入过量。</string>
		<string>“细嚼慢咽”的吃饭习惯可以大幅提高食物的吸收比例，身体由于吸收了充分的营养，食量自然降低。</string>
	</array>
	<key>alarmSupperMsg</key>
	<array>
		<string>不吃晚餐就是变相节食，即使短期内有效果，也不能长期保持。简单的主食和青菜就能让你远离肥胖噢~</string>
		<string>晚餐摄入过多热量，会引起血胆固醇增高，过多的胆固醇堆积在血管壁上，久而久之就会诱发动脉硬化和心脑血管疾病。</string>
		<string>晚餐可以多吃富含膳食纤维的水果、蔬菜、豆类和谷薯类，粗细搭配，不知不觉瘦下来！</string>
		<string>吃晚餐担心长胖？用酸奶代替沙拉酱做份蔬菜沙拉吧！不仅可以补充维生素和膳食纤维，还是防止便秘的瘦身法宝哟！</string>
		<string></string>
		<string>晚餐不想喝粥？来杯胡萝卜汁吧~胡萝卜汁营养丰富，具有明目、美容等功效。</string>
		<string>为了增加咀嚼次数，可以从做法上下功夫。比如：用肉块代替肉馅，多做些有嚼劲的食物，同样可以瘦身哦！</string>
		<string>晚餐少吃，除了食物量相对少之外，更重要的是：淀粉类要少吃。</string>
		<string>晚餐吃的东西，营养能被身体吸收的大概只有30%。所以晚餐吃七分饱即可，热量顶多200-500卡就够了。</string>
		<string>如果晚餐减少了热量摄入，在消耗完晚餐的能量后，脂肪开始支持人体活动，从而让你变瘦。</string>
		<string>晚餐摄入脂肪的一半会变成脂肪滴囤积在腰部，如果晚餐吃了30克脂肪，腰部随后就会多出15克左右的脂肪哟。</string>
		<string>晚餐如果摄入过多的盐会导致水分在体内驻留而无法排除，导致体重的假性增长，甚至轻微的浮肿。</string>
	</array>
	<key>alarmWalkMsg</key>
	<array>
		<string>穿件外套就变成球，还以为冬天胖了也看不出来？觉悟吧，少年！饭后散散步，让腰围小一圈！</string>
		<string>散步的好处：增强心血管机能，提高新陈代谢，有助消除疲劳，帮助美化双腿~常言道：百练不如一走。快加入饭后散步的阵营吧！</string>
		<string>饭后俩小时内瘦身快，可以选择快步走，每分钟120步左右。立刻试试吧！</string>
		<string>即使工作再忙，也不能忘了吃饭；即使生活再累，也别忘了锻炼。每天散步半小时，坚持就会见效哟！</string>
		<string>成年人平均走3000-5000步/日，你可以保持你的体重。如果把每天的步数提高到10000，那么你的体重应该开始减轻了。</string>
		<string>散步可使全身肌肉、关节、筋骨都得到适度的运动，饭后散步，还利于食物的消化和吸收。</string>
		<string>就算生活再平凡，只要能与爱人一起分享，就算是简单的饭后散步也是最幸福的事。</string>
		<string>吃饭后运动消耗的能量都是来自脂肪，可有效地减少体脂而渐渐瘦下来。</string>
		<string>中等强度的体育锻炼只需要每天散步半个小时即可，在相同的时长内提高强度会获得更多的健康功效。</string>
		<string>没有锻炼习惯的人可以从每天散步20分钟开始做起，第二周走25分钟；第三周增加到30分钟。</string>
	</array>
	<key>alarmTime</key>
	<array>
		<dict>
			<key>hour</key>
			<integer>7</integer>
			<key>minute</key>
			<integer>0</integer>
			<key>frequency</key>
			<integer>1</integer>
			<key>enable</key>
			<string>1</string>
		</dict>
		<dict>
			<key>hour</key>
			<integer>9</integer>
			<key>minute</key>
			<integer>30</integer>
			<key>frequency</key>
			<integer>127</integer>
			<key>enable</key>
			<string>0</string>
		</dict>
		<dict>
			<key>hour</key>
			<integer>17</integer>
			<key>minute</key>
			<integer>0</integer>
			<key>frequency</key>
			<integer>127</integer>
			<key>enable</key>
			<string>1</string>
		</dict>
		<dict>
			<key>hour</key>
			<integer>12</integer>
			<key>minute</key>
			<integer>30</integer>
			<key>frequency</key>
			<integer>127</integer>
			<key>enable</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hour</key>
			<integer>19</integer>
			<key>minute</key>
			<integer>0</integer>
			<key>frequency</key>
			<integer>127</integer>
			<key>enable</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hour</key>
			<integer>8</integer>
			<key>minute</key>
			<integer>30</integer>
			<key>frequency</key>
			<integer>127</integer>
			<key>enable</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>hour</key>
			<integer>12</integer>
			<key>minute</key>
			<integer>0</integer>
			<key>frequency</key>
			<integer>127</integer>
			<key>enable</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>hour</key>
			<integer>18</integer>
			<key>minute</key>
			<integer>30</integer>
			<key>frequency</key>
			<integer>127</integer>
			<key>enable</key>
			<string>0</string>
		</dict>
		<dict>
			<key>hour</key>
			<integer>11</integer>
			<key>minute</key>
			<integer>0</integer>
			<key>enable</key>
			<string>1</string>
			<key>frequency</key>
			<string>127</string>
		</dict>
		<dict>
			<key>hour</key>
			<integer>11</integer>
			<key>minute</key>
			<integer>0</integer>
			<key>enable</key>
			<string>1</string>
			<key>frequency</key>
			<string>127</string>
		</dict>
		<dict>
			<key>hour</key>
			<integer>11</integer>
			<key>minute</key>
			<integer>0</integer>
			<key>enable</key>
			<string>1</string>
			<key>frequency</key>
			<string>127</string>
		</dict>
		<dict>
			<key>hour</key>
			<integer>11</integer>
			<key>minute</key>
			<integer>0</integer>
			<key>enable</key>
			<string>1</string>
			<key>frequency</key>
			<string>127</string>
		</dict>
	</array>
</dict>
</plist>
