<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weightTitles</key>
	<array>
		<dict>
			<key>id</key>
			<integer>1</integer>
			<key>title</key>
			<string>米饭</string>
			<key>icon</key>
			<string>icon_rice.png</string>
			<key>images</key>
			<array>
				<string>rice_bowl.png</string>
				<string>rice_plate.png</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>2</integer>
			<key>title</key>
			<string>粥类</string>
			<key>icon</key>
			<string>icon_gruel.png</string>
			<key>images</key>
			<array>
				<string>gruel.png</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>3</integer>
			<key>title</key>
			<string>面条</string>
			<key>icon</key>
			<string>icon_noodles.png</string>
			<key>images</key>
			<array>
				<string>noodles_bowl.png</string>
				<string>noodles_plate.png</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>4</integer>
			<key>title</key>
			<string>饼类</string>
			<key>icon</key>
			<string>icon_cakes.png</string>
			<key>images</key>
			<array>
				<string>cakes.png</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>5</integer>
			<key>title</key>
			<string>菜肴类</string>
			<key>icon</key>
			<string>icon_cuisine.png</string>
			<key>images</key>
			<array>
				<string>cuisine_vegetable.png</string>
				<string>cuisine_meat.png</string>
				<string>cuisine_mixed.png</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>6</integer>
			<key>title</key>
			<string>汤类</string>
			<key>icon</key>
			<string>icon_soup.png</string>
			<key>images</key>
			<array>
				<string>soup_bowl.png</string>
				<string>soup_cup.png</string>
			</array>
		</dict>
		<dict>
			<key>id</key>
			<integer>7</integer>
			<key>title</key>
			<string>饮料</string>
			<key>icon</key>
			<string>icon_drink.png</string>
			<key>images</key>
			<array>
				<string>drink.png</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
