<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XKRW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>044DA1C018558DC100CA30F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>044DA1E118558DC100CA30F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB8A5141B78DEAF00BD215D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BCB8A52C1B78DEAF00BD215D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
